html{
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans";
}

body {
  font-size: 16px;
  margin: 0 auto;
  width: 100%;
}

/*Color*/

:root {
  --footer-blue: hsl(233,54%,16%);
  --white: hsl(0,0%,100%);
  --link-red: hsl(341, 92%, 62%);
  --paragraph-color: hsl(232, 10%, 56%);
}

/*Typography*/

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
}

/*Header*/

header {
  margin: 3rem auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 60rem;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.maximize {
  display: inline-flex;
  flex-direction: column;
  width: 42%;
  margin-top: 6rem;
  height: 24rem;
}

.maximize p{
  margin-bottom: 5rem;
}

.hero {
  width: 100%;
  position: relative;
  left: 36rem;
  bottom: 48rem;
  display: inline;
}

/*Buttons*/

.button {
  padding: 1rem 2rem;
  background-image: linear-gradient(var(--footer-blue), var(--footer-blue));
  color: var(--white);
  width: 6rem;
  border-radius: 2rem;
  font-weight: 500;
  cursor: pointer;
}

#maximize-button {
  background-image: linear-gradient(hsl(322, 87%,55%), hsl(13,100%,64%));
  padding: 1rem 2rem;
  color: var(--white);
  width: 6rem;
  border-radius: 2rem;
  font-weight: 500;
}

/*main*/

main {
  width: 80%;
  display: grid;
  grid-template: 1fr 1fr/ 1fr 1fr 1fr;
  row-gap: 5rem;
  column-gap: 1.5rem;
  justify-content: center;
  margin: 0 auto;
}

.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1.2rem;
  padding: 1.5rem;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  height: 20rem;
}

.card img {
  position: relative;
  bottom: 3rem;
}

.card p {
  color: var(--paragraph-color);
  position: relative;
  bottom: 4rem;
}

.card h3 {
  position: relative;
  bottom: 3rem;
}

.card a {
  text-decoration: none;
  color: var(--link-red);
  font-weight: 600;
  position: relative;
  bottom: 3rem;
}

#most-popular {
  color: var(--white);
  background-image: linear-gradient(hsl(322, 87%,55%), hsl(13,100%,64%));
}

#most-popular h2 {
  grid-row: 2/span 2;
  position: relative;
  bottom: 3.5rem;
}
